<div class="flash">
  <%= flash[:notice] %>
</div>

<body>
<h1>Books</h1>

<% @books.each do |book| %>
  <main>
    <div class="index-all">
    <table>
      <thead>
       <tr>
        <td><h4>Title</h4></td>
        <td><h4>Body</h4></td>
       </tr>
      </thead>

      <tbody>
       <tr>
        <td><span><%= book.title %></span></td>
        <td><span><%= book.body %></span></td>
       </tr>
      </tbody>
    </table>

      <ul>
        <li class="show"><%= link_to "Show", "/books/#{book.id}" %></li>
        <li class="edit"><%= link_to "Edit", "/books/#{book.id}/edit" %></li>
        <li class="destroy"><%= link_to "Destroy", "/books/#{book.id}", method: :delete, data: {confirm: "Are you sure?"} %></li>
      </ul>

      </div>


<% end %>
  </main>


  <h1>New book</h1>
  <% if @book.errors.any? %>
    <%= @book.errors.count %>errors prohibited this book from being saved:
    <ul>
      <% @book.errors.full_messages.each do |message| %>
       <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <%= form_with model: @book, url: '/books',method: :post do |f| %>

  <h4 class="new-title">Title</h4>
  <div class="new-title-name"><%= f.text_field :title %></div>

  <h4 class="new-body">Body</h4>
  <div class="new-body-text"><%= f.text_area :body %></div>

  <div class="submit-botun"><%= f.submit " Create Book " %></div>
<% end %>



</body>